<main>
  <section class="search-bar">
    <h2>Title</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam impedit
      iusto ab, id atque perspiciatis.
    </p>
    <app-search></app-search>
  </section>
  <article>
    <section class="movie-info">
      <app-movie></app-movie>
      <app-review></app-review>

      <ui5-button icon="favorite" iconEnd="true"> Favorite </ui5-button>
    </section>
    <section class="poster">
      <app-poster></app-poster>
    </section>
  </article>
</main>
